.title {
  font-size: 2.18rem;
  font-weight: 600;
  color: #4E5150;
}

.subtitle {
  font-size: 1.12rem;
  color: #333333;
}

.title-shop {
  margin-top: 0;
  font-size: 1rem;
  color: #4E5150;
}

.price {
  font-size: 1rem;
  color: #F2994A;
  margin-right: 1rem;
}

.price2 {
  font-size: 0.75rem;
  color: #4E5150;
  text-decoration: line-through;
}

input[type=button] {
  padding: 1.25rem 3.12rem;
  background-color: #F2994A;
  color: #FFFFFF;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  float: center;
  transition: 0.3s ease background-color;
  margin-top: 2rem;
}
input[type=button]:hover {
  background-color: #d68d4c;
}

body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.container {
  margin: 0rem auto;
  max-width: 1500px;
  width: 100%;
  display: flex;
}
.container .box-left {
  width: 50%;
}
.container .box-left form {
  width: 100%;
  margin-top: 3rem;
}
.container .box-left form label {
  font-size: 0.75rem;
  color: #4F4F4F;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container .box-left form label span {
  font-size: 1.5rem;
  color: #828282;
  position: absolute;
  top: 2.2rem;
  left: 1rem;
}
.container .box-left form label input[type=text],
.container .box-left form label input[type=tel],
.container .box-left form label input[type=email],
.container .box-left form label select {
  width: 90%;
  height: 2.87rem;
  border: 1px solid #828282;
  border-radius: 0.75rem;
  padding-left: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #828282;
}
.container .box-left form label input[type=text]:focus,
.container .box-left form label input[type=tel]:focus,
.container .box-left form label input[type=email]:focus,
.container .box-left form label select:focus {
  outline: none;
  color: #333333;
}
.container .box-left form label input[type=tel] {
  margin-bottom: 3rem;
}
.container .box-left form .box-group {
  display: flex;
}
.container .box-left form .box-group label {
  width: 100%;
}
.container .box-left form .box-group label input[type=text],
.container .box-left form .box-group label select {
  width: 80%;
  margin-right: 1rem;
}
.container .box-left form .box-group label select {
  background: none;
  width: 90%;
  height: 3.05rem;
}
.container .box-left form .box-info {
  display: flex;
  align-items: center;
}
.container .box-left form .box-info input[type=checkbox] {
  width: 21px;
  height: 21px;
}
.container .box-left form .box-info .text-info {
  font-size: 0.75rem;
  color: #4F4F4F;
  margin-left: 0.3rem;
}
.container .box-right {
  width: 35%;
  margin: 7.5rem 0 0 4rem;
}
.container .box-right .shopping-box {
  padding: 2rem;
  border-radius: 12px;
  background-color: #F2F2F2;
}
.container .box-right .shopping-box .box {
  display: flex;
  width: 100%;
}
.container .box-right .shopping-box .box img {
  width: 45%;
  height: auto;
  border-radius: 13px;
  margin-right: 1.5rem;
}
.container .box-right .shopping-box .box .box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .box-right .shopping-box .box .box-content .box-price {
  margin: -1.2rem 0 1.5rem 0;
  display: flex;
  align-items: center;
}
.container .box-right .shopping-box .box .box-content .count-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8.12rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #828282;
  border-radius: 12px;
}
.container .box-right .shopping-box .box .box-content .count-box .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
}
.container .box-right .shopping-box .box .box-content .count-box .icons span {
  color: #828282;
  font-size: 1rem;
}
.container .box-right .shopping-box .box .box-content .count-box .number {
  font-size: 1rem;
  color: #333333;
}
.container .box-right .shopping-box .box-2 {
  margin-top: 2rem;
}
.container .box-right .shopping-box .box-total {
  margin-top: 5rem;
}
.container .box-right .shopping-box .box-total .box-total-flex {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #BDBDBD;
}
.container .box-right .shopping-box .box-total .box-total-flex .total-text {
  font-size: 1.12rem;
  color: #333333;
  font-weight: 600;
}
.container .box-right .shopping-box .box-total .box-total-flex .total-price {
  font-size: 1.06rem;
  column-rule-color: #333333;
}

@media (max-width: 1230px) {
  .container {
    flex-direction: column-reverse;
  }
  .container .box-left {
    width: 100%;
  }
  .container .box-right {
    margin: 2rem auto;
    width: 50%;
  }
}
@media (max-width: 800px) {
  .container .box-right {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 1rem;
    max-width: 90%;
  }
  .container .box-left .title {
    font-size: 1.5rem;
  }
  .container .box-left form {
    width: 93%;
  }
  .container .box-left form .subtitle {
    font-size: 0.87rem;
  }
  .container .box-left form label input[type=text],
.container .box-left form label input[type=tel],
.container .box-left form label input[type=email],
.container .box-left form label select {
    font-size: 0.75rem;
  }
  .container .box-left form .box-group {
    flex-direction: column;
  }
  .container .box-left form .box-group label {
    font-size: 0.62rem;
  }
  .container .box-left form .box-group label input[type=text],
.container .box-left form .box-group label select {
    width: 90%;
  }
  .container .box-left form .box-group label select {
    width: 100%;
  }
  .container .box-right {
    width: 100%;
  }
  .container .box-right .shopping-box .box {
    align-items: center;
  }
  .container .box-right .shopping-box .box img {
    width: 50%;
    height: auto;
  }
  .container .box-right .shopping-box .box .box-content .title-shop {
    font-size: 0.75rem;
  }
  .container .box-right .shopping-box .box .box-content .box-price .price {
    font-size: 0.87rem;
  }
  .container .box-right .shopping-box .box .box-content .box-price .price2 {
    font-size: 0.62rem;
  }
  .container .box-right .shopping-box .box .box-content .count-box {
    width: 6.2rem;
    padding: 0 0.5rem;
  }
  .container .box-right .shopping-box .box-total .box-total-flex {
    font-size: 0.75rem;
  }
  .container .box-right .shopping-box .box-total .box-total-flex .total-text {
    font-size: 0.87rem;
  }
  .container .box-right .shopping-box .box-total .box-total-flex .total-price {
    font-size: 0.87rem;
  }
}
#nameError {
  display: none;
  font-size: 0.8em;
}

#nameError.visible {
  display: block;
  color: rgba(216, 68, 68, 0.9);
  font-size: 1rem;
}

input.invalid {
  border-color: red;
}

/*# sourceMappingURL=style.css.map */
