// Typography
$montserrat: 'Montserrat', sans-serif;


// Colors
$primary-color: #FFFFFF;
$secundary-color: #4E5150;
$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray5: #E0E0E0;
$gray4: #BDBDBD;
$gray6: #F2F2F2;
$btn-color: #F2994A;